.comment-on-picture-div{
  background-color: rgba(0, 0, 0, 0.7) ; 
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  visibility: hidden;
  overflow: hidden;
}
.comment-on-picture-div-show{
  visibility: visible;
}
.picture-left-comment{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(50%,1000px);
  position: relative;
}
.picture-left-comment-image{
  width: 85vh;
  margin-top: 5vh;
  margin-left: 20vh;
  display: flex;
}
.peoples-comment{
  background-color: white;
  margin-top: 5vh;
  padding-right: 20px;
  overflow: scroll;
  width: 450px;
  height: 539px;
}
.comment-owner{
  display: flex;
  gap: 9px;
  margin-left: 20px;
}
.comment-section-follow{
  color: blue;
  font-size: 15px;
  margin-top: 20px;
}
.comment-verification-icon{
  width: 30px;
  top: 10px;
}
.comment-profile-name{
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}
.comment-profile-picture{
  width: 50px;
  border-radius: 50px;
  border: 2px solid rgb(245, 2, 172);
  margin-top: 5px;
}
.comment-verification-icon-div{
  margin-top: 15px;
}
.comment-follow-button{
  margin-top: 20px;
  cursor: pointer;
}
.comment-react-to-post{
  margin-top: 60vh;
  display: flex;
  bottom:  180px;
  position: fixed;
  bottom: 110px;
  background-color: white;
  margin-left: 20px;
}

.type-comment{
  top: 0;
  bottom: 0;
  margin-left: 15px;
  position: relative;
  border-top: 2px solid rgb(219, 219, 219);
  background-color: white;
}
.type-comment-box{
  border: none;
  margin-left: 36px;
  padding-top: 10px;
  width: 60%;
}
.type-comment-fixed{
  position: fixed;
  top: 525px;
  width: 400px;
  margin-left: 10px;
}
.type-comment-box:focus{
  outline: none;
 
}
.post-comment{
  margin-left: 5vh;
  border: none;
  background-color: white;
  color: blue;
  cursor: pointer;
  
}
.emoji-select-icon{
  position: absolute;
  top: 0;
  left: 1px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 7px;
  background-color: white;
}
.emoji-select-icon-image{
  width: 20px;
}
.comment-cancel-div{
  position:fixed;
  font-size: 50px;
  color: white;
  top: 0;
  right: 10vh;
  cursor: pointer;
}
.comment-cancel-div:hover{
  color: aliceblue;
}
.js-display-comment-style{
  font-size: 15px;
  margin-left: 5vh;
}

.comment-owner-wrapper{
  background-color: white;
  position: fixed;
}
.comment-react-wrapper{
  margin-left: 20px;
}
.display-comment-on-page{
  font-size: 15px;
  padding-bottom: 50px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  top: 0px;
}
.js-comment-on-post-picture{
  border-radius: 40px;
  width: 40px;
}
.profile-and-name-flex{
  display: grid;
  grid-template-columns: 60px 10px 300px;
}
.javascript-commenter-name{
  margin-top: 4px;
  font-size: 15px;
  font-weight: bold;
}
.javascript-actual-comment{
  margin-left: 3.7rem;
  margin-top: 0;
}
.comment-nested-with-actual-comment{
  font-size: 15px;
  font-weight: bold;
}
.delete-sent-comment{
  margin-left: 10rem;
  background-color: rgb(0, 195, 255);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


