.create-post{
  background-color: rgba(0, 0, 0, 0.7) ; 
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1366px;
  overflow: scroll;
  visibility: hidden;
  z-index: 10;
}

.create-post-show{
  visibility: visible;
}
.create-post-text{
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10rem;
  display: flex;
  padding-top: 1rem;
}
.create-post-content{
  border-radius: 15px;
  margin-left: 70vh;
  background-color: white;
  margin-top: 20vh ;
  max-width: 450px;
  min-width: 200px;
  padding-bottom: 15vh;
}

.post-content-image-container{
  border-top: 1px solid rgb(221, 219, 219);
}
.post-content-image{
  width: 100px;
  margin-left: 12rem;
  margin-top: 5rem;
}
.drag-photos{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 4rem;
}
.select-from-computer{
  margin-left: 9.8rem;
  padding: 10px;
  background-color: rgb(0, 162, 255);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
.select-from-computer:hover{
  background-color: rgb(7, 135, 240);
}
.cancel-create-post{
  color: white;
  position: absolute;
  font-size: 50px;
  right: 4rem;
  top: 2vh;
  cursor: pointer;
}
.cancel-create-post:hover .tooltip-for-cancel{
  color: white;
  visibility: visible;
}

.tooltip-for-cancel{
  font-size: 15px;
  background-color: rgb(74, 201, 194);
  padding: 5px 13px ;
  margin-left: -17px;
  margin-top: 14px;
  visibility: hidden;
}
