.share-post-div{
  background-color: white;
  position: fixed;
  top: 30vh;
  left: 35%;
  width: 500px;
  border-radius: 20px;
  padding-bottom:20px;
  padding-left: 10px;
  padding-right: 10px;
}
.share-text{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-left: 40%;
}
.cancel-share{
  font-size: 30px;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
}
.cancel-share:hover{
  color: blue
}
.share-text-div{
  display: flex;
  justify-content: space-between;
}
.share-search-box-div{
  display: flex;
  border-top: 1px solid rgb(185, 184, 184);
}
.share-search-box{
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  border: none;
  background-color: rgb(255, 255, 255);
}
.share-search-box:focus{
  outline: none;
}
.share-to-text{
  font-size: 15px;
  margin-left: 20px;
  font-weight: bold;
}
.Suggested-for-you-share-div{
  border-top: 1px solid rgb(185, 184, 184);
}
.Suggested-share-text{
  font-size: 15px;
  margin-left: 20px;
  font-weight: bold;
  margin-top: 2vh;
}
.people-to-share-post{
  display: flex;
  margin-top: 10px;
}
.people-to-share-post-profile{
  width: 50px;
  border-radius: 50px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 15px;
}
.share-to-verified-user{
  width: 30px;
  margin-top: 9px;
}
.share-to-name{
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 4px
}
.share-to-user-name{
  font-size: 13px;
  margin-top: 0px;
}
.share-check-box{
  margin-left: 58%;
}

.share-main-container{
  background-color: rgba(0, 0, 0, 0.7) ; 
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
}
.share-main-container-show{
  visibility: visible;
}
.send-post{
  background-color: rgb(0, 161, 224);
  border: none;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.send-post:hover{
  background-color: rgb(5, 146, 202);
}
.scroll-share{
  overflow: scroll;
}
